@media (min-width: 720px) {
  /* form section */
  .schedule-grid {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .form-description-container {
    flex: 2;
    text-align: left;
  }

  .form-container {
    flex: 3;
  }
}

@media (min-width: 880px) {
  /* form section */
  .registration-form-container {
    padding: 5rem 8rem;
  }
}

@media (max-width: 600px) {
  /* institutional-header  */
  .institutional-header {
    padding: 0rem 2rem;
  }

  .institutional-header .nav {
    display: none;
  }

  .menu-burger {
    display: block;
  }
  .icon-menu {
    display: block;
  }

  nav:target {
    display: flex;
  }

  /* footer */
  .information-contacts {
    flex-direction: column;
    gap: 4rem;
  }
}

@media (min-width: 1024px) {
  /* about section */
  .about-event-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-event-paragraph-container {
    flex-basis: 50%;
    padding-right: 10px;
  }

  .about-event-img-container {
    flex-basis: 50%;
  }
}

@media (min-width: 768px) {
  /* about section */
  .speakers-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  /* about section */
  .speaker-info {
    justify-content: flex-end;
    gap: 5rem;
    font-size: 2rem;
  }

  .speaker-card {
    flex-basis: 30%;
  }

  .speaker-social-media-container {
    flex-direction: column;
    justify-content: space-between;
  }
}
