:root {
  --color-primary: #0975b3;
  --color-primary-hover: #0b5a88;
  --color-primary-dark: #052f47;
  --color-primary-dark-hover: #0a3f5f;
  --color-primary-light: #cce6f3;
  --color-primary-light-hover: #b3d9ec;

  --color-alt: #f6c52a;
  --color-alt-hover: #d6aa20;
  --color-alt-dark: #4a3b0a;
  --color-alt-dark-hover: #6b560f;
  --color-alt-light: #fdf1c7;
  --color-alt-light-hover: #fbe69d;

  --color-secondary: #e43337;
  --color-secondary-hover: #c42b2f;
  --color-secondary-dark: #3f0c0d;
  --color-secondary-dark-hover: #651314;
  --color-secondary-light: #f8cccc;
  --color-secondary-light-hover: #f3a3a4;

  --color-tertiary: #dde135;
  --color-tertiary-hover: #c0c628;
  --color-tertiary-dark: #3a3c0b;
  --color-tertiary-dark-hover: #5a5d11;
  --color-tertiary-light: #f6f8cc;
  --color-tertiary-light-hover: #edf1a2;

  --color-quaternary: #fff0c0;
  --color-quaternary-hover: #ffe699;
  --color-quaternary-dark: #3a331f;
  --color-quaternary-dark-hover: #5a4f2b;
  --color-quaternary-light: #fff8dc;
  --color-quaternary-light-hover: #fff1aa;

  --color-white: #fff;
  --color-black: #000;

  --color-dark-text: #3d3a38;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: 'Yanone Kaffeesatz', sans-serif;
  --font-headings: 'Bebas Neue', serif;

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.institutional-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  background-color: var(--color-dark-text);
  padding: 0rem 4rem;
}

.institutional-header .logo-uespi {
  width: 5rem;
  height: auto;
}

.institutional-header .nav {
  display: flex;
  gap: 1.5rem;
}

.institutional-header .nav .links-sections {
  text-decoration: none;
  font-family: var(--font-headings);
  color: var(--color-gray-0);
  transition: transform 0.3s ease;
}

.institutional-header .nav .links-sections:hover {
  color: var(--color-gray-3);
  text-decoration: underline;
}

.nav-mobile {
  background-color: #000000d0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: none;
  flex-direction: column;
  width: 100%;
}

.nav-mobile .links-mobile {
  padding: 3rem 4rem;
  text-align: right;
  color: var(--color-gray-0);
  text-decoration: none;
  font-size: 3rem;
}

.nav-mobile .links-mobile:hover {
  background-color: var(--color-primary);
  text-decoration: underline;
}

.icon-close-box {
  padding: 1rem 2rem;
}

.icon-close {
  cursor: pointer;
  width: 4rem;
  height: auto;
}

.icon-menu {
  display: none;
  width: 4rem;
  height: auto;
}

body {
  font-size: 1.7rem;
  font-family: var(--font-primary);
  background: var(--color-gray-1);
  color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

/* acitivies section */
.schedules-container {
  background-color: var(--color-primary);
  padding: var(--spacing-gutter-medium) calc(var(--spacing-gutter-medium) / 2);
}

.schedule-title-container {
  text-align: center;
  color: var(--color-alt);
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  font-size: 20pt;
}

.schedule-grid {
  display: grid;
  margin: auto;
  max-width: 100rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: var(--spacing-gutter-large);
}

.schedule-activity {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: var(--color-white);
  padding: 2.5rem 1.5rem;
  height: fit-content;
  margin: auto 0;
}

.activity-title-container {
  color: var(--color-primary);
  letter-spacing: 0.1rem;
  font-size: 11pt;
}

.time-local-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .institutional-header {
    padding: 0rem 2rem;
  }

  .institutional-header .nav {
    display: none;
  }
  .icon-menu {
    display: inline;
  }
  #menu-toggle:checked ~ .nav-mobile {
    display: flex;
  }
}
